<!DOCTYPE html>
<!-- This site was created in Webflow. http://www.webflow.com-->
<!-- Last Published: Wed Oct 21 2015 06:20:08 GMT+0000 (UTC) -->
<html data-wf-site="5614e7a0e496435a18a6071d" data-wf-page="5614e7a0e496435a18a6073c">
<head>
  <meta charset="utf-8">
  <title>#BelfastContained <%= " | #{@page_title}" if @page_title %></title>
  <meta name="description" content="Belfast Contained is an innovative new regeneration project from the team behind Belfast's T13.
Seed of the city: Contained will see two venues play host to an incredibly diverse programme of gatherings, events and experiences.">
  <meta name="keywords" content="belfast contained cultural event pop up village cargo seed of city t13 events gatherings programme">
  <meta property="og:title" content="Belfast Contained">
  <meta property="og:description" content="Belfast Contained is an innovative new regeneration project from the team behind Belfast's T13.
Seed of the city: Contained will see two venues play host to an incredibly diverse programme of gatherings, events and experiences.">
  <meta property="og:image" content="http://res.cloudinary.com/titanicmedia/image/upload/c_scale,w_800/v1445408159/CONTAINED/BelfastContained-01.jpg">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Belfast Contained">
  <meta property="og:description" content="Belfast Contained is an innovative new regeneration project from the team behind Belfast's T13.
Seed of the city: Contained will see two venues play host to an incredibly diverse programme of gatherings, events and experiences.">
  <meta property="og:image" content="http://res.cloudinary.com/titanicmedia/image/upload/c_scale,w_800/v1445408159/CONTAINED/BelfastContained-01.jpg">
  <meta name="generator" content="Webflow">
  <%= stylesheet_link_tag 'normalizepublic', 'webflowpublic', 'contained.webflow', 'public', media: "all" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" %>
  <script>
    WebFont.load({
      google: {
        families: ["Roboto:regular","Muli:regular"]
      }
    });
  </script>
  <%= javascript_include_tag "modernizr.public" %>
  <%= favicon_link_tag %>
  <%= favicon_link_tag 'con-favicon.jpg', rel: 'shortcut-icon', type: 'image/xcon' %>
  <%= favicon_link_tag 'con-webclip.png', rel: 'apple-touch-icon' %>

  <style type="text/css">
   #mc_embed_signup{clear:left; color:#fff; font:14px Roboto,Arial,sans-serif; }
    /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
     We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  </style>
</head>
<body class="body">
  <div class="w-nav nav" data-collapse="medium" data-animation="over-left" data-duration="400" data-contain="1">
    <div class="w-container nav-items">
      <a class="w-nav-brand nav-logo" href="http://belfastcontained.com/"><%= image_tag('contained-holding-page-logo-outlines.svg', :class => "logo") %>
      </a>
      <nav class="w-nav-menu mobile-menu" role="navigation"><%= link_to "HOME", {action: "index"}, class: "w-nav-link menu-item" %>
        <div class="w-dropdown menu-item" data-delay="0">
          <div class="w-dropdown-toggle menu-dropdown-toggle">
            <div class="menu-dropdown-text">PROGRAMME</div>
            <div class="w-icon-dropdown-toggle dropdown-icon"></div>
          </div>
          <nav class="w-dropdown-list menu-dropdown-list"><%= link_to "FULL PROGRAMME", {action: "programme"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "@CONTAINED13", {action: "contained13"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "@CONTAINED VILLAGE", {action: "containedvillage"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "ARTS & CULTURE", {action: "artsculture"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "FESTIVALS & FAMILY", {action: "festivalsfamily"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "FITNESS & WELLBEING", {action: "fitnesswellbeing"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "FOOD & DRINK", {action: "fooddrink"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "MOVIES & THEATRE", {action: "moviestheatre"}, class: "w-dropdown-link menu-dropdown-link" %><%= link_to "MUSIC & DANCE", {action: "musicdance"}, class: "w-dropdown-link menu-dropdown-link" %>
          </nav>
        </div><%= link_to "NEWS", {action: "news"}, class: "w-nav-link menu-item" %><%= link_to "ABOUT", {action: "about"}, class: "w-nav-link menu-item" %><a class="w-nav-link menu-item" href="#contact">CONTACT</a>
      </nav>
      <div class="w-nav-button hamburger-menu">
        <div class="w-icon-nav-menu w-hidden-main hamburger-icon"></div>
      </div>
    </div>
  </div>
  <div class="w-section social-links">
    <div class="w-container">
      <div class="w-row home-social-row">
        <div class="w-col w-col-7 w-col-medium-6 w-col-small-7 home-hashtag-column">
          <div class="hastag-div"><%= image_tag("contained-holding-page-hashtag-black") %>
          </div>
        </div>
        <div class="w-col w-col-5 w-col-medium-6 w-col-small-5 home-social-column">
          <a class="w-inline-block home-social-div" href="http://instagram.com/contained13/" target="_blank"><%= image_tag("con-social-in-rev-01") %>
          </a>
          <a class="w-inline-block home-social-div" href="https://www.facebook.com/belfast.contained" target="_blank"><%= image_tag("con-social-fb-rev-01") %>
          </a>
          <a class="w-inline-block home-social-div" href="http://twitter.com/contained13/" target="_blank"><%= image_tag("con-social-tw-rev-01") %>
          </a>
        </div>
      </div>
    </div>
  </div>
  <%= yield %>
  <footer class="w-section footer" id="contact">
    <div class="w-container">
      <div class="w-row footer-row">
        <div class="w-col w-col-4 w-col-stack w-hidden-medium w-hidden-small w-hidden-tiny contact-column">
            <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <form class="footer-contact-form" action="//t13.us7.list-manage.com/subscribe/post?u=f31fdca1460ca4d6ae6ed563d&amp;id=60182d1278" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div id="mc_embed_signup_scroll">
                 <h2 class="mailchimp-form-heading">Subscribe to our mailing list</h2>
                 <div class="indicates-required" style="text-align: right;"><span class="asterisk">*</span> indicates required</div>
                 <div class="mc-field-group">
                    <label class="contact-form-text" for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
                    </label>
                     <input class="w-input footer-form-field" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                   </div>
                   <div class="mc-field-group">
                      <label class="contact-form-text" for="mce-FNAME">First Name </label>
                       <input class="w-input footer-form-field" type="text" value="" name="FNAME" class="" id="mce-FNAME">
                     </div>
                     <div class="mc-field-group">
                        <label class="contact-form-text" for="mce-LNAME">Last Name </label>
                         <input class="w-input footer-form-field" type="text" value="" name="LNAME" class="" id="mce-LNAME">
                       </div>
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                              <div class="response" id="mce-success-response" style="display:none"></div>
                             </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                             <div style="position: absolute; left: -5000px;"><input type="text" name="b_f31fdca1460ca4d6ae6ed563d_60182d1278" tabindex="-1" value=""></div>
                             <div class="clear"><input class="w-button send-button" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                           </div>
                         </form>
                       </div>
                       <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
                       <!--End mc_embed_signup-->
        </div>
        <div class="w-col w-col-4 w-col-stack contact-column">
          <h1 class="contact-form-heading">Contact us</h1>
          <div class="footer-contact-info">If there is anything we can help with please get in touch via the details below or the contact form.
            <br>
            <br>t. <a class="footer-text-link" href="tel:+442890023111">+44 (0) 2890 023 111</a>
            <br>e. <a class="footer-text-link" href="mailto:info@belfastcontained.com?subject=Website%20mail">info@belfastcontained.com</a>
          </div>
          <a class="w-hidden-small w-hidden-tiny w-inline-block footer-social-link" href="http://instagram.com/contained13/" target="_blank"><%= image_tag("con-social-in-rev-01", id: "footer") %>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block footer-social-link" href="https://www.facebook.com/belfast.contained" target="_blank"><%= image_tag("con-social-fb-rev-01", id: "footer") %>
          </a>
          <a class="w-hidden-small w-hidden-tiny w-inline-block footer-social-link" href="http://twitter.com/contained13" target="_blank"><%= image_tag("con-social-tw-rev-01", id: "footer") %>
          </a>
        </div>
        <div class="w-col w-col-4 w-col-stack contact-column">
          <div class="w-form">
            <form class="footer-contact-form" id="wf-form-Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form">
              <label class="contact-form-text" for="name">Name:</label>
              <input class="w-input footer-form-field" id="name" type="text" placeholder="Enter your name" name="name" data-name="Name">
              <label class="contact-form-text" for="field">Email Address:</label>
              <input class="w-input footer-form-field" id="email" type="email" placeholder="Enter your email address" name="email" data-name="Email" required="required">
              <label class="contact-form-text" for="field">Your message:</label>
              <textarea class="w-input footer-form-area" id="field" placeholder="What would you like to say?" name="field" required="required"></textarea>
              <input class="w-button send-button" type="submit" value="Submit" data-wait="Please wait...">
            </form>
            <div class="w-form-done success-message-background">
              <p class="success-message-text">Thank you!
                <br>Your message is on its way to us.</p>
            </div>
            <div class="w-form-fail footer-contact-error">
              <p class="footer-error-text">Oops! Something went wrong while submitting the form</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </footer>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" %>
  <%= javascript_include_tag "webflow.public" %>
  <!--[if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif]-->
</body>
</html>
